<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <!-- TITLE -->
  <% if(!locals.menuUrl!=''){ %>
  <title>Dashboard | Evara Admin</title>
  <% } else if(locals.menuUrl=='products'){ %>
  <title>Products | Evara Admin</title>
  <% } else if(locals.menuUrl=='orders'){ %>
  <title>Orders | Evara Admin</title>
  <% } else if(locals.menuUrl=='order'){ %>
  <title>Order Info | Evara Admin</title>
  <% } else if(locals.menuUrl=='coupons'){ %>
  <title>Coupons | Evara Admin</title>
  <% } else if(locals.menuUrl=='users'){ %>
  <title>Users | Evara Admin</title>
  <% } else if(locals.menuUrl=='product-categories'){ %>
  <title>Categories | Evara Admin</title>
  <% } else if(locals.menuUrl=='sales-report'){ %>
    <title>Sales report | Evara Admin</title>
  <% } %>

  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon.svg" />
  <!-- Template CSS -->
  <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/custom/custom.css">
</head>

<body class="<% if (locals.theme==='dark') { %>dark<% } %> ">
  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="/admin" class="brand-wrap">
        <img src="/admin-assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard" />
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize">
          <i class="text-muted material-icons md-menu_open"></i>
        </button>
      </div>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item <% if(!locals.menuUrl!=''){ %>active<% } %>">
          <a class="menu-link" href="/admin">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item has-submenu<% if(menuUrl==='products'||menuUrl==='product-categories'){ %> active<% } %>">
          <a class="menu-link" href="/admin/products">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>
          <div class="submenu">
            <a href="/admin/products">All products</a>
            <a href="/admin/products/new">Add new product</a>
            <a href="/admin/product-categories">Categories</a>
          </div>
        </li>
        <li class="menu-item<% if(menuUrl==='orders'){ %> active<% } %>">
          <a class="menu-link" href="/admin/orders">
            <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">Orders</span>
          </a>
        </li>
        <li class="menu-item<% if(menuUrl==='sales-report'){ %> active<% } %>">
          <a class="menu-link" href="/admin/sales-report/new">
            <i class="icon material-icons md-post_add"></i>
            <span class="text">Sales report</span>
          </a>
        </li>
        <li class="menu-item has-submenu<% if(menuUrl==='coupons'){ %> active<% } %>">
          <a class="menu-link" href="coupons">
            <i class="icon material-icons md-monetization_on"></i>
            <span class="text">Coupons</span>
          </a>
          <div class="submenu">
            <a href="/admin/coupons">All coupons</a>
            <a href="/admin/coupons/new">Add new coupon</a>
          </div>
        </li>
        <li class="menu-item<% if(menuUrl==='users'){ %> active<% } %>">
          <a class="menu-link" href="/admin/users">
            <i class="icon material-icons md-person"></i>
            <span class="text">Users</span>
          </a>
        </li>
      </ul>
      <br />
      <br />
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar">
      <div class="col-search">
        <form class="searchform">
          <datalist id="search_terms">
            <option value="Products"></option>
            <option value="New orders"></option>
            <option value="Apple iphone"></option>
            <option value="Ahmed Hassan"></option>
          </datalist>
        </form>
      </div>
      <div class="col-nav">
        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
          <i class="material-icons md-apps"></i>
        </button>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link btn-icon" href="#">
              <i class="material-icons md-notifications animation-shake"></i>
              <span class="badge rounded-pill">3</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-icon darkMode" onclick="enableDarkmode()">
              <i class="material-icons md-nights_stay"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-fullscreen"></i></a>
          </li>
          <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
              <img class="img-xs rounded-circle" src="/admin-assets/imgs/people/avatar2.jpg" alt="User" /></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
              <a class="dropdown-item" href="/admin/sales-report/new"><i class="material-icons md-receipt"></i>Sales report</a>
              <a class="dropdown-item" href="/" target="_blank"><i class="material-icons md-material-icons md-visibility"></i>View website</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </header>

    <!-- <script>
      //ADDING 'ACTIVE' TO PAGINATION 
      const params = menuUrl
      let value = params.page;
      if (value) {
        var element = document.getElementById('page-' + value);
        element.classList.add('active');
      }
    </script> -->