.edit-product-images .col:hover .delete-product-img{
    opacity: 1;
    transition: all .2s;
}
.delete-product-img{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: #fff;
    line-height: 1;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    transition: all .2s;
}

.login_wrap{
    background-color: #fff !important;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

